seaborn==0.11.1
pandas==1.2.4
matplotlib==3.4.2
scipy==1.6.3
numpy==1.20.3
geopandas==0.9.0
networkx==2.5.1
plotly==4.14.3
scikit_learn==0.24.2
streamlit==0.83.0
mapclassify==2.4.2
kmodes==0.11.0
statsmodels==0.12.2
regressors==0.0.3
mlxtend==0.18.0
xlsxwriter==1.4.4
xlrd==2.0.1
openpyxl==3.0.7
arch==5.0